.navbar.navbar-dark.navbar-expand-md.fixed-top.unscrolled {
  background-color: rgb(0,0,0,0);
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.navbar.navbar-dark.navbar-expand-md.fixed-top.scrolled {
  background-color: rgba(0,0,0,1);
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

